.bus-margin{
    margin-top: 50px;
   padding: 5px 300px;
}
.left{
    background-color: rgba(255, 255, 255, 0.5);
}
.seat{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.seat div{
    text-align: center;
    background-color: cornflowerblue;
    padding: 5px;
    border-radius: 2px;
    color: white;
    width: 40px !important    ;
}
.seat div:hover{
    cursor: pointer;
    background-color: grey;
}
.selected{
    background-color: red !important;
}
.now-selected{
    background-color: rgb(15, 188, 24) !important;
}
.bus-title{
    font-size: 25px;
    border-bottom: 2px solid cornflowerblue;
}
.disabled-element {
    pointer-events: none;
  }
  input{
    padding: 5px 14px;
    /* border-radius: ; */
  }